expose:
  config:
    domain: dev.nuxeo.com
    exposer: Ingress
    http: true
    tlsacme: true
    tlsSecretName: $NAMESPACE-tls
    urltemplate: '"{{.Service}}.{{.Namespace}}.{{.Domain}}"'
jenkins:
  Master:
    Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/$NAMESPACE-jenkinsx
    ImageTag: 0.0.21
  Persistence:
    volumes:
      - name: jenkins-secrets
        secret:
          secretName: jenkins-secrets
    mounts:
      - name: jenkins-secrets
        readOnly: true
        mountPath: /run/secrets/jenkins
  Servers:
    Global:
      EnvVars:
        ARENDER_DOCKER_REGISTRY: docker-arender.packages.nuxeo.com
        PRIVATE_DOCKER_REGISTRY: docker-private.packages.nuxeo.com
        PUBLIC_DOCKER_REGISTRY: docker.packages.nuxeo.com
        YUM_REGISTRY: http://nexus.platform/repository/yum-registry/
  Agent:
    PodTemplates:
      Nuxeo-Package-10:
        Name: nuxeo-package-10
        Label: jenkins-nuxeo-package-10
        DevPodPorts: 5005, 8080
        volumes:
          - type: Secret
            secretName: jenkins-maven-settings
            mountPath: /root/.m2/
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          JAVA_TOOL_OPTIONS: "-Dsun.zip.disableMemoryMapping=true -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90"
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
          # lets disable the noisy download artifact logging messages
          MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
        ServiceAccount: jenkins
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Maven:
            Image: $DOCKER_REGISTRY/nuxeo/builder-java8:latest
            Privileged: true
            RequestCpu: "3"
            RequestMemory: "4Gi"
            LimitCpu: "4"
            LimitMemory: "8Gi"
            # You may want to change this to true while testing a new image
            # AlwaysPullImage: true
            Tty: true
      Nuxeo-Platform-11:
        Name: nuxeo-platform-11
        Label: jenkins-nuxeo-platform-11
        DevPodPorts: 5005, 8080
        volumes:
          - type: Secret
            secretName: jenkins-maven-settings
            mountPath: /root/.m2/
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          JAVA_TOOL_OPTIONS: "-Dsun.zip.disableMemoryMapping=true -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90"
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
          # lets disable the noisy download artifact logging messages
          MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
        ServiceAccount: jenkins
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Maven:
            Image: $DOCKER_REGISTRY/nuxeo/builder-java11-firefox42:latest
            Privileged: true
            RequestCpu: "3"
            RequestMemory: "4Gi"
            LimitCpu: "4"
            LimitMemory: "8Gi"
            # You may want to change this to true while testing a new image
            # AlwaysPullImage: true
            Tty: true
      Nuxeo-JSF-11:
        Name: nuxeo-jsf-11
        Label: jenkins-nuxeo-jsf-11
        DevPodPorts: 5005, 8080
        volumes:
          - type: Secret
            secretName: jenkins-maven-settings
            mountPath: /root/.m2/
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          JAVA_TOOL_OPTIONS: "-Dsun.zip.disableMemoryMapping=true -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90"
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
          # lets disable the noisy download artifact logging messages
          MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
        ServiceAccount: jenkins
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Maven:
            Image: $DOCKER_REGISTRY/nuxeo/builder-java11-firefox42-nodejs10:latest
            Privileged: true
            RequestCpu: "3"
            RequestMemory: "4Gi"
            LimitCpu: "4"
            LimitMemory: "8Gi"
            # You may want to change this to true while testing a new image
            # AlwaysPullImage: true
            Tty: true
      Nuxeo-Third-Party-RPMs:
        Name: nuxeo-third-party-rpms
        Label: jenkins-nuxeo-third-party-rpms
        DevPodPorts: 5005
        volumes:
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
        ServiceAccount: jenkins
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Rpm:
            Image: $DOCKER_REGISTRY/nuxeo/builder-rpm:latest
            Privileged: true
            RequestCpu: "1"
            RequestMemory: "256Mi"
            # You may want to change this to true while testing a new image
            # AlwaysPullImage: true
            Command: "/bin/sh -c"
            Args: "cat"
            Tty: true
docker-registry:
  persistence:
    size: 300Gi
nexus:
  persistence:
    size: 300Gi
PipelineSecrets:
  DockerConfig: |-
    $DOCKER_REGISTRY_CONFIG

  MavenSettingsXML: |-
    <settings>
      <!-- sets the local maven repository outside of the ~/.m2 folder for easier mounting of secrets and repo -->
      <localRepository>${user.home}/.mvnrepository</localRepository>
      <!-- lets disable the download progress indicator that fills up logs -->
      <interactiveMode>false</interactiveMode>
      <mirrors>
        <mirror>
          <id>nexus</id>
          <mirrorOf>external:*</mirrorOf>
          <url>http://nexus/repository/maven-group/</url>
        </mirror>
      </mirrors>
      <servers>
        <server>
          <id>nexus</id>
          <username>admin</username>
          <password>$NEXUS_PASSWORD</password>
        </server>
      </servers>
      <profiles>
        <profile>
          <id>nexus</id>
          <properties>
            <altDeploymentRepository>nexus::default::http://nexus/repository/maven-public/</altDeploymentRepository>
            <altReleaseDeploymentRepository>nexus::default::http://nexus/repository/maven-public/</altReleaseDeploymentRepository>
            <altSnapshotDeploymentRepository>nexus::default::http://nexus/repository/maven-public/</altSnapshotDeploymentRepository>
          </properties>
        </profile>
        <profile>
          <id>nexus-private</id>
          <properties>
            <altDeploymentRepository>nexus::default::http://nexus/repository/maven-private/</altDeploymentRepository>
            <altReleaseDeploymentRepository>nexus::default::http://nexus/repository/maven-private/</altReleaseDeploymentRepository>
            <altSnapshotDeploymentRepository>nexus::default::http://nexus/repository/maven-private/</altSnapshotDeploymentRepository>
          </properties>
        </profile>
      </profiles>
      <activeProfiles>
        <!--make the profile active all the time -->
        <activeProfile>nexus</activeProfile>
      </activeProfiles>
    </settings>
