expose:
  config:
    domain: dev.nuxeo.com
    exposer: Ingress
    http: true
    tlsacme: true
    tlsSecretName: $NAMESPACE-tls
    urltemplate: '"{{.Service}}.{{.Namespace}}.{{.Domain}}"'
gcactivities:
  role:
    enabled: true
    rules:
    - apiGroups:
      - jenkins.io
      resources:
      - pipelineactivities
      verbs:
      - list
      - delete
    - apiGroups:
      - jenkins.io
      resources:
      - environments
      verbs:
      - get
      - list
      - patch
      - update
      - watch
    - apiGroups:
      - jenkins.io
      resources:
      - plugins
      verbs:
      - get
      - list
      - watch
    - apiGroups:
      - ""
      resources:
      - secrets
      - services
      verbs:
      - get
      - list
    - apiGroups:
      - apps
      resources:
      - deployments
      verbs:
      - get
    - apiGroups:
      - tekton.dev
      resources:
      - pipelineruns
      verbs:
      - get
      - list
      - watch
      - delete
jenkins:
  Master:
    Image: $JENKINS_IMAGE_DOCKER_REGISTRY/nuxeo/$NAMESPACE-jenkinsx
    ImageTag: 0.0.42
  Servers:
    Global:
      EnvVars:
        DOCKER_REGISTRY: $INTERNAL_DOCKER_REGISTRY
  Persistence:
    volumes:
      - name: jenkins-secrets
        secret:
          secretName: jenkins-secrets
    mounts:
      - name: jenkins-secrets
        readOnly: true
        mountPath: /run/secrets/jenkins
  Agent:
    PodTemplates:
      # fix jx create devpod -l jx-base
      JX-base:
        DevPodPorts: 9999
        NodeSelector:
          team: platform
        Containers:
          JX-base:
            LimitCpu: "1"
            LimitMemory: "1Gi"
      Nuxeo-Package-10:
        Name: nuxeo-package-10
        Label: jenkins-nuxeo-package-10
        DevPodPorts: 5005, 8080
        volumes:
          - type: Secret
            secretName: jenkins-maven-settings
            mountPath: /root/.m2/
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          JAVA_TOOL_OPTIONS: "-Dsun.zip.disableMemoryMapping=true -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90"
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
          # lets disable the noisy download artifact logging messages
          MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
        ServiceAccount: jenkins
        ImagePullSecret: kubernetes-docker-cfg
        NodeSelector:
          team: platform
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Maven:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java8:latest
            Privileged: true
            RequestCpu: "1"
            RequestMemory: "512Mi"
            LimitCpu: "2"
            LimitMemory: "1Gi"
            Tty: true
      Nuxeo-Platform-11:
        Name: nuxeo-platform-11
        Label: jenkins-nuxeo-platform-11
        DevPodPorts: 5005, 8080
        volumes:
          - type: Secret
            secretName: jenkins-maven-settings
            mountPath: /root/.m2/
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
          - type: EmptyDir
            mountPath: /root/.mvnrepository
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          JAVA_TOOL_OPTIONS: "-Dsun.zip.disableMemoryMapping=true -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90"
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
          # lets disable the noisy download artifact logging messages
          MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
        ServiceAccount: jenkins
        ImagePullSecret: kubernetes-docker-cfg
        NodeSelector:
          team: platform
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Maven:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42:latest
            Privileged: true
            RequestCpu: "3"
            RequestMemory: "4Gi"
            LimitCpu: "4"
            LimitMemory: "4Gi"
            Tty: true
          Maven-dev:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42:latest
            Privileged: true
            RequestCpu: "4"
            RequestMemory: "4Gi"
            LimitCpu: "4"
            LimitMemory: "4Gi"
            Tty: true
          Maven-mongodb:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42:latest
            Privileged: true
            RequestCpu: "4"
            RequestMemory: "4Gi"
            LimitCpu: "4"
            LimitMemory: "4Gi"
            Tty: true
          Maven-postgresql:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42:latest
            Privileged: true
            RequestCpu: "4"
            RequestMemory: "4Gi"
            LimitCpu: "4"
            LimitMemory: "4Gi"
            Tty: true
      Nuxeo-Package-11:
        Name: nuxeo-package-11
        Label: jenkins-nuxeo-package-11
        DevPodPorts: 5005, 8080
        volumes:
          - type: Secret
            secretName: jenkins-maven-settings
            mountPath: /root/.m2/
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          JAVA_TOOL_OPTIONS: "-Dsun.zip.disableMemoryMapping=true -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90"
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
          # lets disable the noisy download artifact logging messages
          MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
        ServiceAccount: jenkins
        ImagePullSecret: kubernetes-docker-cfg
        NodeSelector:
          team: platform
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Maven:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42-nodejs10:latest
            Privileged: true
            RequestCpu: "1"
            RequestMemory: "2Gi"
            LimitCpu: "2"
            LimitMemory: "3Gi"
            Tty: true
      Nuxeo-JSF-11:
        Name: nuxeo-jsf-11
        Label: jenkins-nuxeo-jsf-11
        DevPodPorts: 5005, 8080
        volumes:
          - type: Secret
            secretName: jenkins-maven-settings
            mountPath: /root/.m2/
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          JAVA_TOOL_OPTIONS: "-Dsun.zip.disableMemoryMapping=true -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90"
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
          # lets disable the noisy download artifact logging messages
          MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
        ServiceAccount: jenkins
        ImagePullSecret: kubernetes-docker-cfg
        NodeSelector:
          team: platform
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Maven:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42-nodejs10:latest
            Privileged: true
            RequestCpu: "1.5"
            RequestMemory: "4Gi"
            LimitCpu: "3"
            LimitMemory: "6Gi"
            Tty: true
      Nuxeo-Platform-LTS-2021:
        Name: nuxeo-platform-lts-2021
        Label: jenkins-nuxeo-platform-lts-2021
        DevPodPorts: 5005, 8080
        volumes:
          - type: Secret
            secretName: jenkins-maven-settings
            mountPath: /root/.m2/
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
          - type: EmptyDir
            mountPath: /root/.mvnrepository
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          JAVA_TOOL_OPTIONS: "-Dsun.zip.disableMemoryMapping=true -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90"
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
          # lets disable the noisy download artifact logging messages
          MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
        ServiceAccount: jenkins
        ImagePullSecret: kubernetes-docker-cfg
        NodeSelector:
          team: platform
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Maven:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42:0.0.36
            Privileged: true
            RequestCpu: "3"
            RequestMemory: "4Gi"
            LimitCpu: "4"
            LimitMemory: "4Gi"
            Tty: true
          Maven-dev:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42:0.0.36
            Privileged: true
            RequestCpu: "4"
            RequestMemory: "4Gi"
            LimitCpu: "4"
            LimitMemory: "4Gi"
            Tty: true
          Maven-mongodb:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42:0.0.36
            Privileged: true
            RequestCpu: "4"
            RequestMemory: "4Gi"
            LimitCpu: "4"
            LimitMemory: "4Gi"
            Tty: true
          Maven-postgresql:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42:0.0.36
            Privileged: true
            RequestCpu: "4"
            RequestMemory: "4Gi"
            LimitCpu: "4"
            LimitMemory: "4Gi"
            Tty: true
      Nuxeo-Package-LTS-2021:
        Name: nuxeo-package-lts-2021
        Label: jenkins-nuxeo-package-lts-2021
        DevPodPorts: 5005, 8080
        volumes:
          - type: Secret
            secretName: jenkins-maven-settings
            mountPath: /root/.m2/
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          JAVA_TOOL_OPTIONS: "-Dsun.zip.disableMemoryMapping=true -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90"
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
          # lets disable the noisy download artifact logging messages
          MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
        ServiceAccount: jenkins
        ImagePullSecret: kubernetes-docker-cfg
        NodeSelector:
          team: platform
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Maven:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42-nodejs10:0.0.36
            Privileged: true
            RequestCpu: "1"
            RequestMemory: "2Gi"
            LimitCpu: "2"
            LimitMemory: "3Gi"
            Tty: true
      Nuxeo-JSF-LTS-2021:
        Name: nuxeo-jsf-lts-2021
        Label: jenkins-nuxeo-jsf-lts-2021
        DevPodPorts: 5005, 8080
        volumes:
          - type: Secret
            secretName: jenkins-maven-settings
            mountPath: /root/.m2/
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          JAVA_TOOL_OPTIONS: "-Dsun.zip.disableMemoryMapping=true -XX:+UseParallelGC -XX:MinHeapFreeRatio=5 -XX:MaxHeapFreeRatio=10 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90"
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
          # lets disable the noisy download artifact logging messages
          MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
        ServiceAccount: jenkins
        ImagePullSecret: kubernetes-docker-cfg
        NodeSelector:
          team: platform
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Maven:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-java11-firefox42-nodejs10:0.0.36
            Privileged: true
            RequestCpu: "1.5"
            RequestMemory: "4Gi"
            LimitCpu: "3"
            LimitMemory: "6Gi"
            Tty: true
      Nuxeo-Third-Party-RPMs:
        Name: nuxeo-third-party-rpms
        Label: jenkins-nuxeo-third-party-rpms
        DevPodPorts: 5005
        volumes:
          - type: Secret
            secretName: jenkins-docker-cfg
            mountPath: /home/jenkins/.docker
          - type: Secret
            secretName: jenkins-release-gpg
            mountPath: /home/jenkins/.gnupg
        EnvVars:
          JENKINS_URL: http://jenkins:8080
          GIT_COMMITTER_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_EMAIL: platform+jx-bot@nuxeo.com
          GIT_AUTHOR_NAME: nuxeo-platform-jx-bot
          GIT_COMMITTER_NAME: nuxeo-platform-jx-bot
          XDG_CONFIG_HOME: /home/jenkins
          DOCKER_CONFIG: /home/jenkins/.docker/
        ServiceAccount: jenkins
        ImagePullSecret: kubernetes-docker-cfg
        NodeSelector:
          team: platform
        Containers:
          Jnlp:
            Image: jenkinsci/jnlp-slave:3.26-1-alpine
            RequestCpu: "100m"
            RequestMemory: "128Mi"
            Args: "${computer.jnlpmac} ${computer.name}"
          Rpm:
            Image: $INTERNAL_DOCKER_REGISTRY/nuxeo/builder-rpm:latest
            Privileged: true
            RequestCpu: "250m"
            RequestMemory: "256Mi"
            Command: "/bin/sh -c"
            Args: "cat"
            Tty: true
docker-registry:
  enabled: false
nexus:
  image:
    repository: gcr.io/jenkinsxio/nexus
    tag: 0.1.36
  env:
    # Fix system status warning about available CPUs: "The host system is allocating a maximum of 1 cores to the application. A minimum of 4 is recommended.",
    # by specifying the active processor count.
    # The rest is copied from the Sonatype image: https://github.com/sonatype/docker-nexus3/blob/b2a9af6d44348584087cbc0795399c256b36e729/Dockerfile.rh.centos#L75.
    INSTALL4J_ADD_VM_PARAMS: "-Xms2703m -Xmx2703m -XX:MaxDirectMemorySize=2703m -Djava.util.prefs.userRoot=/nexus-data/javaprefs -XX:ActiveProcessorCount=4"
  persistence:
    size: 310Gi
    storageClass: standard
PipelineSecrets:
  DockerConfig: |-
    $DOCKER_REGISTRY_CONFIG
  MavenSettingsXML: |-
    <settings>
      <!-- sets the local maven repository outside of the ~/.m2 folder for easier mounting of secrets and repo -->
      <localRepository>${user.home}/.mvnrepository</localRepository>
      <!-- lets disable the download progress indicator that fills up logs -->
      <interactiveMode>false</interactiveMode>
      <mirrors>
        <mirror>
          <id>nexus</id>
          <mirrorOf>!nuxeo-studio,external:*</mirrorOf>
          <url>https://packages.nuxeo.com/repository/maven-internal/</url>
        </mirror>
      </mirrors>
      <servers>
        <server>
          <id>nexus</id>
          <username>$PACKAGES_USERNAME</username>
          <password>$PACKAGES_PASSWORD</password>
        </server>
        <server>
          <id>nuxeo-studio</id>
          <username>$CONNECT_USERNAME</username>
          <password>$CONNECT_PASSWORD</password>
        </server>
      </servers>
      <profiles>
        <profile>
          <id>nexus</id>
          <activation>
            <activeByDefault>true</activeByDefault>
          </activation>
          <properties>
            <altDeploymentRepository>nexus::default::https://packages.nuxeo.com/repository/maven-team-platform/</altDeploymentRepository>
          </properties>
        </profile>
        <profile>
          <id>nexus-private</id>
          <properties>
            <altDeploymentRepository>nexus::default::https://packages.nuxeo.com/repository/maven-team-platform-private/</altDeploymentRepository>
          </properties>
        </profile>
      </profiles>
    </settings>
